{% extends "layout.html" %}
{% block title %} Drone Details {% endblock %}
{% block content %}
	<div class="content-section">
        <form method="POST" action="" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Enter Your Drone name</legend>
                <div>
                    {{ form.Dronename.label(class="form-control-label") }}
                    {{ form.Dronename(class="form-control form-control-lg") }}
                </div>
             </fieldset>
             <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
         </form>
        </div>

{% endblock %}